<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">

<head>
    <title>Add user</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <nav nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Site navigation">
        <a class="navbar-brand">ShopProject</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/items}" href="/items">Items</a>
            <a class="nav-item nav-link" th:href="@{/reviews}" href="/reviews">Reviews</a>
            <a class="nav-item nav-link" th:href="@{/articles}" href="/articles">Articles</a>
            <a class="nav-item nav-link active">Add article</a>
            <a class="nav-item nav-link" th:href="@{/users}" href="/users">Users</a>
            <a class="nav-item nav-link" th:href="@{/users/add}" href="/users/add">Add user</a>
            <a class="nav-item nav-link" th:href="@{/profile}" href="/profile">Profile</a>
            <a class="nav-item nav-link" th:href="@{/login}" href="/login">Log in</a>
            <a class="nav-item nav-link" th:href="@{/logout}" href="/logout">Log out</a>

        </div>
    </nav>
    <br>
    <form th:action="@{/articles/add}"
          action="/articles/add"
          th:object="${article}"
          method="post">
        <span th:if="${#fields.hasErrors ('date')}"
              th:errors="*{date}"
              style="color:red">
        </span>
        <p th:if="${#fields.hasGlobalErrors()}"
           th:errors="*{global}"
           style="color:red">
        </p>
        <div class="form-group">
            <label for="date">Date</label>
            <small id="dateHelpBlock" class="form-text text-muted">
                Please insert date in format yyyy-MM-dd hh:mm:ss or leave the field empty for article to be published with current date and time.
            </small>
            <input th:field="*{date}" type="text" class="form-control" id="date" name="date">
        </div>
        <span th:if="${#fields.hasErrors ('header')}"
              th:errors="*{header}"
              style="color:red">
        </span>
        <div class="form-group">
            <label for="header">Header</label>
            <input th:field="*{header}" type="text" class="form-control" id="header" name="header">
        </div>
        <span th:if="${#fields.hasErrors ('content')}"
              th:errors="*{content}"
              style="color:red">
        </span>
        <div class="form-group">
            <label for="content">Content</label>
            <input th:field="*{content}" type="text" class="form-control" id="content" name="content">
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success">Add article</button>
    </form>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>