<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">

<head>
    <title>Items</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Site navigation">
        <a class="navbar-brand">ShopProject</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link active">Items</a>
            <a class="nav-item nav-link" th:href="@{/reviews}" href="/reviews">Reviews</a>
            <a class="nav-item nav-link" th:href="@{/articles}" href="/articles">Articles</a>
            <a class="nav-item nav-link" th:href="@{/articles/add}" href="/articles/add">Add article</a>
            <a class="nav-item nav-link" th:href="@{/users}" href="/users">Users</a>
            <a class="nav-item nav-link" th:href="@{/users/add}" href="/users/add">Add user</a>
            <a class="nav-item nav-link" th:href="@{/profile}" href="/profile">Profile</a>
            <a class="nav-item nav-link" th:href="@{/login}" href="/login">Log in</a>
            <a class="nav-item nav-link" th:href="@{/logout}" href="/logout">Log out</a>
        </div>
    </nav>
    <br>

    <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success" role="alert">
        Success Alert
    </div>
    <div th:if="${failureMessage}" th:text="${failureMessage}" class="alert alert-danger" role="alert">
        Failure Alert
    </div>

    <div align="center" th:if="${items.empty}">
        No items are currently available.
    </div>

    <div th:each="item:${items}" th:object="${item}">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="*{name}">Name</h5>
                <i><span class="text-muted" th:text="*{uniqueNumber}">Unique number</span></i>
                <p class="card-text" th:text="|*{price} $|">Price</p>
                <a href="items" th:href="@{/items/{uuid}(uuid=*{uniqueNumber})}" class="card-link">See details</a>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col text-left">
                        <a class="btn btn-outline-warning"
                           th:href="@{/items/{id}/duplicate(id=*{id})}"
                           href="@{/items}"
                           role="button">
                            Duplicate
                        </a>
                    </div>
                    <div class="col text-right">
                        <a class="btn btn-outline-danger"
                           th:href="@{/items/{id}/delete(id=*{id})}"
                           href="@{/items}"
                           role="button">
                            Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>

    <nav aria-label="Search result pages" th:if="${items.totalPages gt 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${items.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/items?page={id}(id=${items.number lt 2 ? 1 : items.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq items.number + 1} ? 'disabled'"
                th:each="i : ${#numbers.sequence( 1, items.totalPages, 1)}">
                <a class="page-link" th:href="@{/items?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${items.number + 1 eq items.totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/items?page={id}(id=${items.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>