<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">

<head>
    <title>Reviews</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Site navigation">
        <a class="navbar-brand">ShopProject</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/items}" href="/items">Items</a>
            <a class="nav-item nav-link active">Reviews</a>
            <a class="nav-item nav-link" th:href="@{/articles}" href="/articles">Articles</a>
            <a class="nav-item nav-link" th:href="@{/articles/add}" href="/articles/add">Add article</a>
            <a class="nav-item nav-link" th:href="@{/users}" href="/users">Users</a>
            <a class="nav-item nav-link" th:href="@{/users/add}" href="/users/add">Add user</a>
            <a class="nav-item nav-link" th:href="@{/profile}" href="/profile">Profile</a>
            <a class="nav-item nav-link" th:href="@{/login}" href="/login">Log in</a>
            <a class="nav-item nav-link" th:href="@{/logout}" href="/logout">Log out</a>
        </div>
    </nav>

    <form th:action="@{/reviews/delete}"
          action="/reviews/delete"
          method="post">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Last name</th>
                <th>First Name</th>
                <th>Patronymic name</th>
                <th>Review</th>
                <th>Added</th>
                <th>Visible</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review, itemStat :${reviews}" th:object="${review}">
                <td th:text="*{lastName}">Last name</td>
                <td th:text="*{firstName}">First Name</td>
                <td th:text="*{patronymicName}">Patronymic name</td>
                <td th:text="*{reviewText}">Review</td>
                <td th:text="*{createdOn}">Created</td>
                <td>
                    <div class="form-check">
                        <input type="checkbox" th:checked="*{visible}" disabled="disabled">
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input type="checkbox" name="idList" th:value="*{id}">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div align="right">
            <input type="submit"
                   class="btn btn-outline-danger"
                   value="Delete Selected">
        </div>
    </form>

    <nav aria-label="Search result pages" th:if="${reviews.totalPages gt 0}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${reviews.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/reviews?page={id}(id=${reviews.number lt 2 ? 1 : reviews.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq reviews.number + 1} ? 'disabled'"
                th:each="i : ${#numbers.sequence( 1, reviews.totalPages, 1)}">
                <a class="page-link" th:href="@{/reviews?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${reviews.number + 1 eq reviews.totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/reviews?page={id}(id=${reviews.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>